/*-------------------------------
--------  Global Changes  -------
-------------------------------*/
h2, h3 {
	font-family:'Patua One', cursive;
	color:#592A8C;
}
body {
	background: #b5a0cb;
	background: -moz-linear-gradient(top,  #b5a0cb 0%, #592a8c 100%);
	background: -webkit-linear-gradient(top,  #b5a0cb 0%,#592a8c 100%);
	background: linear-gradient(to bottom,  #b5a0cb 0%,#592a8c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5a0cb', endColorstr='#592a8c',GradientType=0 );
}
/*-------------------------------
------  Bootstrap Changes  ------
-------------------------------*/
.form-control {
	border-radius:0px;
}
.btn {
	border-radius:0px;
}
/*-------------------------------
-------  Styling Changes  -------
-------------------------------*/
.form-content {
	background-color:#fff;
}
.required > label {
	font-weight:bold;
}
.required > label:after {
	content:' *';
	color:#C3232D;
}