{% extends "layouts/#{app_layout_name}" %}
{% block content %}
<div style="background-color:#f6f6f6;" class="row form-content">
	<div style="background-color:#fff; border-bottom:1px solid #c3c3c3;" class="col-xs-12">
		<h1 class="center-text">405 Method not Allowed</h1>
	</div>
	<div class="col-xs-12">
		<h2 class="center-text">Sorry, you can't do that here!</h2>
	</div>
	<div class="col-xs-12 col-sm-4">
		<img class="img-responsive" img-responsive src="http://southdevon.ac.uk/images/template-images/shared_images/404-new-background.jpg">
	</div>
	<div class="col-xs-12 col-sm-8">
		<h4 style="color:#777;">Please contact IT if you require assistance</h4>
	</div>
	<div style="margin-top:40px; background-color:#fff; border-top:1px solid #c3c3c3;" class="col-xs-12">
    <img style="margin-bottom:15px; margin-top:15px;" class="img-responsive" src="http://southdevon.ac.uk/images/template-images/shared_images/college-partners.jpg">
  </div>
</div>
{% endblock %}